:root {
    --primary-txt-color: #fff;
    --primary-bg-color: #463486;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    color: var(--primary-txt-color);
}

a {
    text-decoration: none;
    color: var(--primary-txt-color);
}

a:hover {
    color: #9d72c0;
}

header {
    position: relative;
    background: linear-gradient(to right, gray, black);
    display: block;
    height: 100vh;
    width: 100vw;
    padding-top: 10px;
}

header::before {
    content: '';
    position: absolute;
    inset: 0;
    opacity: 0.1;
    background-image: url('./images/landing.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.nav {

    display: flex;
    margin: 0 auto;
    height: 60px;
    width: 48rem;
    border: 2px solid black;
    border-left: 150px solid transparent;
    border-right: 150px solid transparent;
    align-items: center;
    justify-content: space-evenly;

}


.nav-link-desktop>li {
    position: relative;
    display: inline;
    padding-right: 1rem;
    color: #fff;
    font-size: 24px;
}

.nav-link-desktop>.log-in {
    display: inline-block;
    border-radius: 3rem;
    background: #9d72c0;
    padding: 5px 14px;
    margin-left: 10px;
    color: #000;
    border: 1px black solid;
}

.hero {

    display: flex;
    height: 100%;
    align-items: center;
    width: 100%;
    justify-content: space-around;

}

.wrapper {
    position: relative;
    width: 400px;
    height: 450px;
}

.right-side {

    z-index: 1;
    max-width: 24rem;

}


.hero button {
    border-radius: .5rem;
    border: 1px solid black;
    color: var(--primary-txt-color);
    background-color: var(--primary-bg-color);
    padding: 10px 20px;
    margin: auto;
    height: 2rem;
    max-width: 6rem;
    -webkit-box-shadow: 16px 16px 18px -10px rgba(0, 0, 0, 0.63);
    box-shadow: 16px 16px 18px -10px rgba(0, 0, 0, 0.63);
}

.hero button:hover {
    -webkit-box-shadow: -2px -5px 8px -5px #000000;
    box-shadow: -2px -5px 8px -5px #000000;
}

hr {
    width: 50%;
    margin: 1rem 0;
}

.left-side {
    top: -10px;
    position: absolute;
    animation: bounce 10s infinite;
}



.rotor {
    position: absolute;
    top: 0;
    width: 6.5rem;
    height: .7rem;
    background-color: #fff;
    border-radius: .5rem;
    animation: rotor 5ms infinite;
}

.rotor1 {
    position: absolute;
    right: 0;
    top: 12px;
}

@keyframes rotor {
    0% {
        transform: rotateX(0deg);
    }

    50% {
        transform: rotateX(45deg);
    }

    75% {
        transform: rotateX(90deg);
    }

    100% {
        transform: rotateX(180deg);
    }
}


@keyframes bounce {
    0% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-5%);
    }

    100% {
        transform: translateY(0);
    }
}

@media (max-width: 500px) {
    .nav-link-desktop>.log-in {
        display: none;
    }

    .nav {

        border: none;
        width: 100vw;
        margin: 10px;
        height: 1.5rem;
        justify-content: space-between;

    }

    .hero {
        flex-direction: column-reverse;
        padding: 2rem;
        height: 90vh;
        gap: 1rem;
        justify-content: space-between;

    }

    .wrapper {
        width: 100vw;
        height: 0;

    }

    .left-side img {
        height: 20rem;
        width: 100%;

    }

    .left-side {
        position: relative;
    }
}